<head>
<link rel = "stylesheet" type = "text/css" href="/static/styles/styles.css">
</head>

<img src= "https://image.freepik.com/free-vector/cinema-logo_23-2147503279.jpg" style ="height:200px;">
<h1 class = "header">My favorite movies</h1>

<form action ="/movie" method="POST">

  <br/>
  <label for ="movie">Movie Name<br>
  <input name = "movie"/>
  <br>
  <br/>
  <label for ="year">Year<br>
  <input name = "year"/>

  <br/>
  <br>
  <label for ="genre">Genre<br>
  <input name = "genre"/>
  <br><br>

  <input type = "submit" value = "Submit"/>

  <br>
  <br>


</form>

<a id = "movie-list" href = "/movies">Movie list</a>
